#/を含まない行（fileなど）
#.gitignore以下の全サブディレクトリ下にあるこの名前のファイル or ディレクトリを無視する
#末尾以外にのみ/を含む行（/file, /path/to/file, path/to/fileなど）
#.gitignoreが置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるファイル or ディレクトリを無視する
#末尾だけ/な行（directory/など）
#.gitignore以下の全サブディレクトリ下にあるこの名前のディレクトリを無視する
#末尾以外にも末尾にも/を含む行（/directory/, /path/to/directory/, path/to/directory/など）
#.gitignoreが置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるディレクトリを無視する

# ディレクトリ
Debug/
.vs/
.ipynb_checkpoints/

# ファイル
*.csv
tool/*.md
tool/*/*.md
*.png
*.parquet

# 仮想環境
env/
venv/
*venv/
# kivy_venvディレクトリを作ったので

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
